body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'NanumSquareRound Regular';
  src: url(./fonts/NanumSquareRoundR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquareRound Bold';
  src: url(./fonts/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic Regular';
  src: url(./fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRound Bold';
  src: url(./fonts/NanumBarunGothicBold.ttf) format('truetype');
}
